@model Escuela

@* La frase anterior me obliga a tener un modelo fuertemente tipado *@

@{
    ViewData["Title"] = "Información Escuela";
} 
@* Todo lo que tengo entre el "@", es llamado a c#, codigo de C# *@

<h1>Escuela </h1>
<h2>Nombre: @Model.Nombre</h2>
<address>
    <p>Dirección: @Model.Direccion</p>
    <p>Country:@Model.Country</p>
    <p>City: @Model.Country</p>
</address>
<p><strong>Año Fundación: @Model.FundationYear</strong></p>
