@model Curso

@* La frase anterior me obliga a tener un modelo fuertemente tipado *@

@{
    ViewData["Title"] = "Edición del Curso";
} 
@* Todo lo que tengo entre el "@", es llamado a c#, codigo de C# *@

<h1>@ViewData["Title"] </h1>
<div asp-validation-summary="All"></div>

<form method="PUT">
    <div>
        <label asp-for="Id"></label>    
        <input  asp-for="Id"/>
    
    <input type="submit"/>
</form>